﻿.content {
    margin: auto;
    display: flex;
    width: 80%;
}

.content1 {
    width: 30%;
    padding: 20px;
}

h1.tlql {
    text-align: center;
    padding: 67px;
}

.mb-3 {
    /* display: flex; */
}

label.form-label {
}

input#tensp {
}

.content2 {
    width: 30%;
    padding: 20px;
}

.content4 {
    width: 30%;
    padding: 20px;
}

textarea#mota {
}

.content3 {
    text-align: center;
    padding: 14px;
}
.testall {
    padding: 30px;
    font-weight: bold;
}

span#ten {
    color: red;
}

button#yes {
    background: #ff4e00;
}